html {
  color: #5A5766;
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

@media (max-width: 750px) { 
  body {
    overflow-x: hidden;
  }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: #242935;
  font-family: "Nunito", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  color: #f09fb3;
  text-decoration: none;
  transition: .5s;
}

a:hover {
  color: inherit;
}

.black {
  color: #242935;
}

.gray {
  color: #5A5766;
}

.red {
  color: #B1163D;
}

.orange {
  color: #E4782D;
}

.white {
  color: #F7F5F6;
}

.pink {
  color: #f09fb3;
}

/* Navigation */

.fixed {
  background-color: #242935;
  color: #F7F5F6;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.navigation {
  flex: 1;
  color: #F7F5F6;
  position: fixed;
}

.navigation a {
  color: inherit;
}

.navigation a:hover {
  color: #f09fb3;
}

.navigation ul {
  display: flex;
  padding-left: 30px;
}

.navigation .nav-links {
  margin-right: 48px;
}

.lang-nav {
  align-self: center;
  margin-right: 48px;
}

.nav-links {
  color: #F7F5F6;
  cursor: pointer;
  list-style: none;
  text-transform: uppercase;
}

.nav-links:hover {
  color: #f09fb3;
}

.fa.mobile {
  display: none;
}

@media (max-width: 750px) { 
  .navigation {
    background-color: #242935;
    bottom: 0;
    -webkit-box-shadow: 3px 0px 5px 0px rgba(36,41,53,1);
    -moz-box-shadow: 3px 0px 5px 0px rgba(36,41,53,1);
    box-shadow: 3px 0px 5px 0px rgba(36,41,53,1);
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 48px;
    transition: 0.5s;
    width: 0;
  }

  .navigation.active {
    display: block;
    width: 50%;
  }

  .navigation ul {
    flex-direction: column;
    padding-left: 18px;
  }

  .navigation .nav-links a {
    display: inline-block;
    padding: 9px 24px 9px 0;
  }

  .fa.mobile {
    color: #F7F5F6;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    position: absolute;
    top: 9px;
  }
}

/* Banner */
.banner {
  background-image: url('https://casa-rara.github.io/img/banner/pattern.png');
  background-position: 50% 20%;
  background-size: 50%;
  height: 100vh;
  margin-top: 52px;
  padding-bottom: 24px;
  width: 100%;
}

.banner-container {
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 12px;
}

.logo {
  max-height: 200px;
  max-width: 200px;
}

.quote {
  color: #242935;
  font-size: 3rem;
  margin-bottom: 6px;
  text-align: center;
  text-transform: uppercase;
}

.one-liner {
  color: #242935;
  font-size: 1.2rem;
  margin-top: 0;
  text-align: center;
  max-width: 600px;
}

/* Sections */
.top {
  display: flex;
}

.section {
  display: flex;
  min-height: 200px;
}

@media (max-width: 750px) { 
  .section {
    flex-direction: column;
  }
}

.section:nth-child(2),
.section:nth-child(3),
.section:nth-child(4) {
  min-height: 400px;
}

.section:nth-child(odd) {
  background-color: #F7F5F6;
}

.section-title {
  padding: 12px 30px;
  text-transform: uppercase;
}

.section-content {
  align-self: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 18px 30px;
}

.content {
  flex: 1;
  padding-left: 12px;
  padding-right: 12px;
}

.content:first-child {
  padding-left: 0;
}

.content:last-child {
  padding-right: 0;
}

@media (max-width: 750px) { 
  .section-content {
    flex-direction: column;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
  }
}

.about {
  max-width: 300px;
}

.projects {
  max-width: 500px; 
  text-align: center;
}

.projects img {
  max-width: 400px;
}

@media (max-width: 750px) { 
  .projects img {
    max-width: 300px;
  }
}

.team {
  display: flex;
  margin: 12px;
  min-width: 350px;
}

.team:first-child {
  padding-left: 12px;
}

.team:last-child {
  padding-right: 12px;
}

@media (max-width: 750px) { 
  .team {
    min-width: 300px;
  }

  .team:first-child {
    padding-left: 0;
  }

  .team:last-child {
    padding-right: 0;
  }
}

.team img {
  border: 1px solid transparent;
  height: 148px;
  margin-right: 12px;
  width: 148px;
  transition: .5s;
}

.team img:hover {
  border: 1px solid #f09fb3;
}

.team-name {
  margin-bottom: 0;
  margin-top: 0;
  transition: .5s;
}

.team-name:hover {
  color: #f09fb3;
}

.team-role {
  margin-top: 6px;
}

.partners {
  align-self: center;
}

@media (max-width: 750px) { 
  .partners {
    margin-bottom: 24px;
  }
}

.partners img {
  max-width: 150px;
  transition: 0.5s;
}

.partners img:hover {
  opacity: 0.5;
}

/* Footer */

footer {
  background-color: #B1163D;
  color: #F7F5F6;
  padding: 24px;
}

.container {
  display: flex;
  flex-direction: column;
}

.contact {
  align-self: center;
}

.social {
  display: flex;
  margin: 24px auto 48px auto;
  max-width: 800px;
}

.social-link {
  align-items: center;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  height: 48px;
  justify-content: center;
  margin-left: 24px;
  margin-right: 24px;
  width: 48px;
}

.social-link i {
  color: #B1163D;
  font-size: 1.3rem;
  transition: 0.5s;
}

.social-link:hover i {
  font-size: 1.5rem;
}

.copyright {
  display: inline-block;
  text-align: center;
  width: 100%;
}