html {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 28px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:hover .partner-logo {
    opacity: 0.5;
}

p {
    margin-bottom: 0;
}

.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.logo {
    height: auto;
    min-width: 320px;
    max-width: 500px;
    width: 40%;
}

.partner-logo {
    height: auto;
    width: 190px;
}

.partner-logo-text {
    margin-bottom: 12px;
}

.info-text,
.info-link {
    margin-bottom: 12px;
}

@media (max-width: 780px) {
    .logo {
        max-width: 60%;
    }
}

@media (max-width: 580px) {
    html {
        font-size: 1.5rem;
    }

    .partner-logo {
        height: auto;
        width: 164px;
    }

    .logo {
        margin-bottom: 10%;
    }
}