<ul>
  <li class="nav-links">
    <a href="#about">{{ data.about.title }}</a>
  </li>
  <li class="nav-links">
    <a href="#projects">{{ data.projects.title }}</a>
  </li>
  <li class="nav-links">
    <a href="#partners">{{ data.partners.title }}</a>
  </li>
  <li class="nav-links">
    <a href="#jobs">{{ data.jobs.title }}</a>
  </li>
  <li class="nav-links">
    <a href="#contact">Contact</a>
  </li>
</ul>
